<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuarentinistas_tp3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cuarentinistas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Perfil"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RealizarTransferencia"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MisCuentas"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UltimosMovimientos"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lobby"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>